<!doctype html>
<html lang="en">
  <head>
  	<title>Authors List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!--<link rel="stylesheet" href="css/style.css">-->
	</head>
	<body>
		<form>
			<input id="q_name" name="q_name" type="text" placeholder="your search">
		</form>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Authors List</h2>
					</div>
				</div>  
				<div class="row">  
					<div class="col-md-12">                
						<div class="table-wrap">
							<table class="table">
							<thead class="thead-primary">
								<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email Address</th>
								</tr>
							</thead>
							{% for auth in auth %}
								<tbody>
									<tr>
									<th scope="row">{{auth.id}}</th>
									<td>{{auth.first_name}}</td>
									<td>{{auth.last_name}}</td>
									<td>{{auth.email}}</td>
									</tr>
								</tbody>
							{% endfor %}

							</table>
						</div>                   
					</div>                
				</div>
			</div>
		</section>
  <!--<script src="js/main.js"></script>-->
	</body>
</html>
