<!doctype html>
<html lang="en">
  <head>
  	<title> About Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!--<link rel="stylesheet" href="css/style.css">-->
	</head>
	<body>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">About Book</h2>
					</div>
				</div>  
				<div class="row">  
					<div class="col-md-12">                
						<div class="table-wrap">
							<table class="table">
							<thead class="thead-primary">
								<tr>
                                    <th>#</th>
                                    <th>Book Title</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
								</tr>
							</thead>
							
								<tbody>
									<tr>
									<th scope="row">{{auth.id}}</th>
									<td>{{auth.title}}</td>
									<td>{{ab}}</td>
									<td>{{auth.publisher}}</td>
									</tr>
								</tbody>
							

							</table>
						</div>                   
					</div>                
				</div>
			</div>
		</section>
  <!--<script src="js/main.js"></script>-->
	</body>
</html>
